# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode/ directory contains launch.json, which is used to
# configure the VS Code debugger. It's often useful to share
# launch.json among developers.
# .vscode/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
/coverage/
pubspec.lock

*.g.dart
*.mapper.dart
*.pb.dart
*.pbenum.dart
*.pbjson.dart
*.pbserver.dart
